<div class="list-container">
    <h2 class="text-center">Lista de Usuários</h2>
    <!-- Botão para adicionar novo usuário -->
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="cadUser()">Novo Doador</button>
        <button class="btn btn-primary" (click)="registrarSaida()">Registrar Saída</button>
        <button class="btn btn-primary" (click)="entradas()">Historico de doações </button>
        <button class="btn btn-primary" (click)="diversos()">Historico de doações diversas</button>
        <button class="btn btn-primary" (click)="saidas()">Historico de saidas</button>
        <button class="btn btn-primary" (click)="historico()">Historico completo</button>
    </div>
    
    <!-- Tabela de usuários -->
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">IDdoador</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de usuário - repita essa linha para cada usuário da lista -->
            @for(user of userList$ | async; track user;){
            <tr>
                <td>{{user.iddoadores}}</td>
                <td>{{user.nome}}</td>
                <td>{{user.telefone}}</td>
                <td class="text-center">
                    <button class="btn btn-sm btn-success btn-action" (click)="editUser()">Editar</button>
                    <button class="btn btn-sm btn-danger btn-action" (click)="excluirDoador()">Excluir</button>
                    <button class="btn btn-sm btn-info btn-action" (click)="novaDoacao()">Nova Doação</button>
                </td>
            </tr>
        }
            <!-- Fim do exemplo de usuário -->
        </tbody>
    </table>
</div>

