<div class="register-container">
    <h2>Cadastrar Doador</h2>
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="cancelCadUser()">Voltar</button>
        <!-- <button class="btn btn-primary" (click)="cadUser()">Lista de doações </button>
        <button class="btn btn-primary" (click)="cadUser()">Lista de doações diversas</button> -->
    </div>
    <form [formGroup]="CadUserForm" (ngSubmit)="onCadUser()">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome" placeholder="Nome do doador">
        </div>
  
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control"  formControlName="telefone" placeholder="(XX) XXXXX-XXXX">
        </div>
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>
</div>
