<div class="register-container">
    <h2>Excluir Diversos</h2>
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        <!-- <button class="btn btn-primary" (click)="cadUser()">Lista de doações </button>
        <button class="btn btn-primary" (click)="cadUser()">Lista de doações diversas</button> -->
    </div>
    <form [formGroup]="AltUserForm" (ngSubmit)="onDelDiversos()">
        <div class="mb-3">
            <label for="iddiversos" class="form-label">IDDiversos</label>
            <input type="number" class="form-control" formControlName="iddiversos" placeholder="Seu ID">
        </div>
        
        <button type="submit" class="btn btn-primary w-100" >Excluir</button>
    </form>
</div>
