<div class="register-container">
    <h2>Excluir Entrada</h2>
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="cancelAltUser()">Voltar</button>
        <!-- <button class="btn btn-primary" (click)="cadUser()">Lista de doações </button>
        <button class="btn btn-primary" (click)="cadUser()">Lista de doações diversas</button> -->
    </div>
    <form [formGroup]="AltUserForm" (ngSubmit)="onDelEntrada()">
        <div class="mb-3">
            <label for="identrada" class="form-label">IDEntrada</label>
            <input type="number" class="form-control" formControlName="identrada" placeholder="Seu ID">
        </div>
        
        <button type="submit" class="btn btn-primary w-100" >Excluir</button>
    </form>
</div>
